body{
font-family: 'Source Sans Pro', sans-serif;
background-color: #E5E7E9;
}
/*Seccion de mi informacion*/
.informacion{
  position: relative;
  left: 15%;
  background-color:white;
  width: 18%;
  height: 410px;
  border-radius: 8px;
}
.FotoCV{
  position: relative;
  top: 3%;
  left: 5%;
  width: 90%;
  height: 50%;
}
.FotoCV img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.text-informacion{
  width: 100%;
  height: 45%;
}
.text-informacion h1{
  top: 4%;
  position: relative;
  left: 5%;
  font-size: 16px;
}
.text-informacion img{
  position: relative;
  left: 5%;
}
.text-informacion .phoneimg{
  position: relative;
  top: -20%;
  left: 5%;
}
.text-informacion .phonenumber{
  position: relative;
  top: -38%;
  left: 20%;
}
.text-informacion h3{
  position: relative;
  top: -18%;
  left: 20%;
  font-size: 11px;
}
.text-informacion h4{
  top: -2%;
  position: relative;
  left: 5%;
  font-size: 10px;
}
.text-informacion p{
  top: -33%;
  position: relative;
  left: 5%;
  font-size: 12px;
}
/*FRONT END*/
.front-end{
  background-color: white;
  position: relative;
  top:-420px;
  width: 24%;
  left:35%;
  height: 80px;
  border-radius: 8px;
}
.lenguajes h1{
  font-size: 15px;
  position:relative;
  left: 5%;
  top:5px;
}
.lenguajes h2{
  font-size: 10px;
  position:relative;
  left: 5%;
  top:5px;
}
.desing{
  background-color: white;
  position: relative;
  top:-510px;
  width: 24%;
  left: 61%;
  height: 70px;
  border-radius: 8px;
}
.diseños h1{
  font-size: 15px;
  position:relative;
  left: 5%;
  top:5px;
}
/*Proyectos*/
.projects{
  background-color: white;
  position: relative;
  top:-430px;
  width: 50%;
  left: 35%;
  height: 40px;
  border-radius: 8px;
}
.numberprojects{
  position: relative;
  top:11px;
  left: 2%;
  font-size: 13px;
}
.project-1{
  background-color: white;
  position: relative;
  top:-420px;
  width: 50%;
  left: 35%;
  height: 200px;
  border-radius: 8px;
}
.project-1 img{
  position: relative;
  top:10px;
  width: 30%;
  left: 2%;
  height: 180px;
  border-radius: 8px;
}
.infopro-1{
    position: relative;
    top: -182px;
    left: 35%;
    width: 60%;
    height: 180px;
}
.infopro-1 h2{
  font-size: 10px;
  color: #616A6B ;
}
.infopro-1 h1{
  position: relative;
  top: -5px;
  font-size: 17px;
}
.infopro-1 p{
  position: relative;
  top: -10px;
  font-size: 15px;
}
.infopro-1 .blue{
  position: relative;
  top: 6px;
  width:25%;
  height:29px;
  border-radius: 8px;
  background-color:#0099FF  ;
  color: white;
  font-size: 15px;
  border-color: rgba(51, 153, 255 , 0.5);
}
.infopro-1 .borderblue{
  position: relative;
  top: 6px;
  width:25%;
  height:29px;
  border-radius: 8px;
  border-color: rgba(0, 153, 255 , 0.5);
  color: #0099FF ;
}
.project-2{
  background-color: white;
  position: relative;
  top:-400px;
  width: 50%;
  left: 35%;
  height: 200px;
  border-radius: 8px;
}
.project-2 img{
  position: relative;
  top:10px;
  width: 30%;
  left: 2%;
  height: 180px;
  border-radius: 8px;
}
.infopro-2{
    position: relative;
    top: -182px;
    left: 35%;
    width: 60%;
    height: 180px;
}
.infopro-2 h2{
  font-size: 10px;
  color: #616A6B ;
}
.infopro-2 h1{
  position: relative;
  top: -5px;
  font-size: 17px;
}
.infopro-2 p{
  position: relative;
  top: -10px;
  font-size: 15px;
}
.infopro-2 .blue{
  position: relative;
  top: 6px;
  width:25%;
  height:29px;
  border-radius: 8px;
  background-color:#0099FF  ;
  color: white;
  font-size: 15px;
  border-color: rgba(51, 153, 255 , 0.5);
}
.infopro-2 .borderblue{
  position: relative;
  top: 6px;
  width:25%;
  height:29px;
  border-radius: 8px;
  border-color: rgba(0, 153, 255 , 0.5);
  color: #0099FF ;
}
.project-3{
  background-color: white;
  position: relative;
  top:-380px;
  width: 50%;
  left: 35%;
  height: 200px;
  border-radius: 8px;
}
.project-3 img{
  position: relative;
  top:10px;
  width: 30%;
  left: 2%;
  height: 180px;
  border-radius: 8px;
}
.infopro-3{
    position: relative;
    top: -182px;
    left: 35%;
    width: 60%;
    height: 180px;
}
.infopro-3 h2{
  font-size: 10px;
  color: #616A6B ;
}
.infopro-3 h1{
  position: relative;
  top: -5px;
  font-size: 17px;
}
.infopro-3 p{
  position: relative;
  top: -10px;
  font-size: 15px;
}
.infopro-3 .blue{
  position: relative;
  top: 6px;
  width:25%;
  height:29px;
  border-radius: 8px;
  background-color:#0099FF  ;
  color: white;
  font-size: 15px;
  border-color: rgba(51, 153, 255 , 0.5);
}
.infopro-3 .borderblue{
  position: relative;
  top: 6px;
  width:25%;
  height:29px;
  border-radius: 8px;
  border-color: rgba(0, 153, 255 , 0.5);
  color: #0099FF ;
}
/*Experiencia*/
.experiences{
  position: relative;
  top: -820px;
  left: 15%;
  background-color:white;
  width: 18%;
  height: 460px;
  border-radius: 8px;
}
.experiences h1{
  position: relative;
  color:#9E9E9E ;
  left: 10px;
  top: 10px;
}
.experiences- img{
  position: relative;
  left: 5%;
    width: 20%;
    height: 20%;
}
.experiences- h2{
  color: #9E9E9E;
  position: relative;
  left: 28%;
  top: -45px;
  font-size: 10px;
}
.experiences- h1{
  position: relative;
  left: 28%;
  top: -55px;
  font-size: 12px;
}
.experiences- p{
  position: relative;
  left: 28%;
  top: -50px;
  font-size: 12px;
}
/*Mis hobbies*/
.Hobbies{
  position: relative;
  top: -790px;
  left: 15%;
  background-color:white;
  width: 18%;
  height: 600px;
  border-radius: 8px;
}
.Hobbies h1{
  color: #9E9E9E;
  position: relative;
  left: 10px;
  top:10px;
  font-size: 15px;
}
.Hobbies img{
  position: relative;
  top: 15px;
  left: 5%;
  width: 90%;
  height: 100px;
}
.hobbies- h1{
  position: relative;
  top: 18px;
  color: #000000;
  font-size: 12px;
}
.hobbies- p{
  position: relative;
  top: 15px;
  left: 5%;
  font-size: 10px;
}
/*Mis blogs*/
.blog{
  top: -1450px;
  background-color: white;
  position: relative;
  width: 50%;
  left: 35%;
  height: 40px;
  border-radius: 8px;
}
.numberblogs{
  position: relative;
  top:11px;
  left: 2%;
  font-size: 13px;
}
.blogs{
  background-color: white;
  position: relative;
  top: -1445px;
  width: 50%;
  left: 35%;
  height: 290px;
  border-radius: 8px;
}
.blog-1{
width: 40%;
height: 250px;;
position: relative;
top: 5%;
left: 2%;
}
.blog-1 h3{
  font-size: 12px;
  color: #E0E0E0 ;
}
.blog-1 h1{
  font-size: 18px;
}
.blog-1 p{
  position: relative;
  top: -5px;
  font-size: 15px;
}
.imageblog img{
  position: relative;
  width: 50%;
  top: -230px;
  left: 50%;
}
